.search{
    text-align: center;
    margin: 0 auto;
    min-width: none;
}
.search input[type=text] {
    width:auto;
    padding: auto;
    border: 1px solid #000;
    margin: 8px auto;
    font-size: 17px;
    display: block;
}

button {
    display:block;
    background-color: crimson;
    color: white;
    font-size: 13px;
    padding: 8px 20px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:focus{
    outline: none;
}