.weather{
    margin: auto;
    background:rgb(247, 244, 244);
    width: auto;
}
ul {
  background: #FF888E;
  padding: 25px;
  list-style: none;
}
ul li {
  margin: 25px;
  color: #FFFFFF;
  font-size: 18px;
}

.error {
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: capitalize;
}

