.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 50%;
  height: 100%;
  background-color:cadetblue;
}
h3{
  font-size: 28px;
  font-weight: bold;
  color: brown;
}
